<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>controller.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MahasiswaView</servlet-name>
        <servlet-class>controller.MahasiswaView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MahasiswaInsert</servlet-name>
        <servlet-class>controller.MahasiswaInsert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MahasiswaEdit</servlet-name>
        <servlet-class>controller.MahasiswaEdit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MahasiswaDelete</servlet-name>
        <servlet-class>controller.MahasiswaDelete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MahasiswaView</servlet-name>
        <url-pattern>/MahasiswaView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MahasiswaInsert</servlet-name>
        <url-pattern>/MahasiswaInsert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MahasiswaEdit</servlet-name>
        <url-pattern>/MahasiswaEdit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MahasiswaDelete</servlet-name>
        <url-pattern>/MahasiswaDelete</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Login</welcome-file>
    </welcome-file-list>
</web-app>
